-r ddhldap/requirements.txt
django==1.9.5
django-compressor
django-grappelli
django-libsass
django-model-utils
django-redis
django-require
MySQL-python
redis
git+git://github.com/kingsdigitallab/django-haystack.git
pysolr==3.6.0
wagtail
flake8
activecollab_digger