@import 'settings';
@import 'font-awesome';
@import 'typography';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/*** Global ***/

.smaller-fontsize {
	font-size: .875em !important;
}

.panel.callout {
	button {
		margin-bottom: 0;
	}
}

.info {
	font-size: .875rem;
	color: $primary-color !important;
	font-style: italic;
	margin-bottom: .5rem;
}

.textright {
	text-align: right;
}

/* Handles the offset of the magellan sticky navigation */
.extra-margin {
	padding-top: 140px;
}

hr {
	height: 1px;
	color: $primary-color;
	background-color: $primary-color;
	border: 0;
}

.content-area {
	background: $white;
	padding-top: 1rem;
}

li.greyed-out a {
	color: rgba(0, 0, 0, 0.3) !important;
}

.rich-text {
	padding-bottom: 1rem;
}

.active {
	font-weight: 700;
}

.less-padding {
	padding: .5rem !important;
}

.expander {
	padding: 0 0 .5rem;
	margin-bottom: .5rem;
	display: block;
}

.hierarchical-facets {
	a {
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
		.label {
			margin-top: .25rem;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

.bottom-margin {
	li {
		margin-bottom: 1rem;
	}
}

.grayed-out {
	color: $jumbo;
	.label {
		background: $jumbo;
	}
}

.green {
	color: green;
}

.green-bg {
	background: green;
}

.gray {
	color: gray;
}

.gray-bg {
	background: gray;
}

.red {
	color: red;
}

.inline-list i {
	display: inline-block;
}

.export {
	text-align: center;
	label {
		font-size: .75em;
	}
}

/* Highlight newly added filters in the preview box */

.free-filters li:last-child span.label {
	animation: highlight 3s ease;
}

@keyframes highlight {
	from { background: scale-color(yellow, $lightness: 50%); }
	to { background: $primary-color; }
}

/*** Header ***/
	
header.top-header {
	background: url('/static/images/top-banner.jpg') center no-repeat;
	background-size: cover;

	h1,
	a {
		color: $white;
		&:hover {
			color: $tertiary-color;
		}
	}

	h1 {
		text-shadow: 0 0 3px $black;
	}
}

/*** Headings ***/

h1, h2 {
	color: $primary-color;
}

h3, h4, h5, h6 {
	color: scale-color($secondary-color, $lightness: -20%);
}

h1, h2, h3 {
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
}

h4, h5, h6 {
	font-weight: normal;
}

input,
input[type=search] {
	height: 2.575rem;
}

.main h1,
.main h2,
.main h3 {
	font-weight: normal;
}

.main h1 .label,
.main h2 .label {
	font-size: .75em;
}

/*** Navigation ***/

nav {
	background-color: $primary-color;

	.menu li {
		a {
			color: $white;
			&:hover {
				background: $secondary-color;
			}
		}
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}

	.dropdown.menu > li.opens-right > .is-dropdown-submenu {
		background: $primary-color;
		border: 0;
	}

	.title-bar {
		background: $primary-color;
	}

	#top-menu {
		padding: 0;
	}
}

/*** Side Nav ***/

h3.quick-home {
	padding-top: 1rem;
}

.quick-home li a {
	text-align: left;
	padding-left: 1rem !important;
	margin: 0;
}

/*** Content ***/

#content {
	h1 {
		margin: rem-calc(24 0);
		border-bottom: 1px solid $primary-color;
	}

	color: $black;
}

.list-page-title {
	border-bottom: 1px solid $iron;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	font-size: 1.5rem;
}

.timeline {
	li {
		&:before {
			font-family: "FontAwesome";
			content: "\f111 \A \f106";
			white-space: pre; /* or pre-wrap */
			color: $primary-color;
			padding-right: 10px;
			display: inline-block;
			vertical-align: text-top;
		}
	}

	li li:before {
		content: none;
	}

	.label {
		font-size: 1rem;
	}

	ul {
		border-left: 1px dotted $primary-color;
		padding-left: 1.25rem;
		margin-left: .28125rem !important;
		margin-top: -.5rem;
	}
}

.key {
	font-style: italic;
	font-size: .875rem;
	margin-top: 1.25rem;
}

/*** Search / Facets / Filters ***/

#search form {
	display: block;
	height: 100%;
	overflow: hidden; /* Stops the page from overflowing due to long list of
						 filters */
}

.options {
	margin-bottom: 0 !important;
	span,
	a {
		margin-bottom: 0 !important;
	}
}

.search-box {
	padding: 1rem;
	background: scale-color($secondary-color, $lightness: 90%);
	border: 1px solid scale-color($secondary-color, $lightness: 70%);

	.label.secondary,
	button.secondary,
	.button.secondary {
		background: scale-color($secondary-color, $lightness: -10%);
	}
}

.drop-list {
	max-height: 550px; /* To overcome the overflow: hidden that cuts the list off */
	overflow: scroll;
	li {
		border-bottom: 1px solid #ccc;
	}
	li:last-child {
		border: none;
	}
}

.button-group {
	.label {
		cursor: pointer;
	}
}

.offices {
	height: 200px;
	overflow: scroll;
}

.facets hr {
	margin: 0 0 1rem;
}

.panel-head h4 {
	cursor: pointer;
	margin-bottom: 0;
}

.panel-head .label {
	font-size: .75em;
}

.panel-body ul {
	margin-top: 1rem;
	margin-bottom: 0;
}

.panel-body li {
	border-bottom: 1px solid #fff;

	.label {
		margin-top: .25rem;
	}
}

.panel-body li:last-child {
	border-bottom: none;
}

.applied-filter-list {
	clear: both;
	margin-left: 0;
	.label {
		background: scale-color($secondary-color, $lightness: 75%) !important;
		font-size: 1em;
	}

	li {
		margin-left: 0;
		margin-right: .5rem;
		margin-bottom: .5rem;
	}
}

.applied-filter-box {
	background: scale-color($secondary-color, $lightness: 92%);
	border-left: none;
	border-right: none;
	padding: .5rem;
	button,
	.button {
		margin-bottom: .5rem;
	}
}

.search-results {
	font-size: .8125rem;
	color: #444;
	.label {
		margin-top: .5rem;
		font-size: 1rem;
	}

	li {	
		border-bottom: 1px solid $sand;
		margin-bottom: .5rem;

		.row {
			margin-bottom: .5rem;
		}
		p {
			font-size: .8125rem;
			margin: .5rem 0;
		}
		h4 {
			font-size: 1.25rem;
		}
		h3,
		h4 {
			margin-bottom: .25rem;
		}
	}

	.svg-container {
		margin-top: .5rem !important;
	}
}

.list-sequence {
	margin-left: -.5rem;
	li {
		border-bottom: none;
		margin-left: .5rem;
		&:after {
			font-family: "FontAwesome";
			font-size: .8125rem;
			content: "\f105";
			padding-left: .625rem;
			color: #666;
		}
		&:last-child {
			&:after {
				content: "";
				padding-left: 0;
			}
		}
	}
	span {
		float: left;
	}
}

.list-offices {
	li {
		border-bottom: none;
		margin: 0;
	}
}

.enlarge {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5rem;
	text-align: center;
	background: $secondary-color;
}

.fixed-height {
	background: scale-color($secondary-color, $lightness: 90%);
	height: 200px;
	margin-bottom: rem-calc(24);
	overflow: auto;
	padding: rem-calc(16);
}

.free-filters li {
	margin: .25rem .25rem 0 0;
	.label {
		font-size: .875rem;
		a {
			color: white;
		}
	}
}

.letters {
	&.button-group .button {
		font-weight: 700;
		padding: rem-calc(2 2 2 8);

		.label {
			background: scale-color($tertiary-color, $lightness: 50%);
			color: $primary-color;
			font-size: rem-calc(12);
			font-weight: 400;
			margin-left: rem-calc(5);
		}
	}
}

/*** Blog ***/
ul.blog,
ul.blog p {
	font-size: .875rem;
	margin: .5rem 0;
	line-height: 1.25rem;
}

ul.blog li {
	display: block;
	overflow: hidden;
	border-bottom: 1px dotted $primary-color;
	margin: 1rem 0;
	padding-bottom: 1rem;
}

ul.blog li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.posts li {
	border-bottom: 1px solid $iron;
}

.postcontent {
	padding-bottom: 1rem;
}

p.meta,
.byline {
	font-size: .75rem !important;
	font-style: italic;
}

.caption {
	font-size: .875rem;
	color: #666;
	padding: .5rem 0 1rem;
}

/*** Events ***/

.events .byline {
	font-size: 1.5rem !important;
	font-style: normal;
}

.events .byline:before {
	content: "\f073 ";
	font-family: 'FontAwesome';
	padding-right: 5px;
}

.events .optional {
	display: none;
}

/*** Sidebar ***/
.sidebar {
	background: $sand;
	padding: 1rem;
}

ul.local-navigation {
	list-style: none;
	margin-left: 0;
	font-size: 1.125rem;
}

.local-navigation li {
	border-bottom: 1px solid scale-color($primary-color, $lightness: 60%);
}

.local-navigation li a {
	padding: .5rem 0;
	display: block;
}

.local-navigation li a:hover {
	background-color: scale-color($primary-color, $lightness: 70%);
}

/*** Footer ***/

footer.main-footer {
	background: scale-color($secondary-color, $lightness: 80%);
	color: $primary-color;
	font-size: .75rem;
	padding-bottom: 1.5rem;

	a {
		color: scale-color($primary-color, $lightness: -30%);
		border-bottom: 1px dotted $primary-color;
	}

	p {
		font-size: .75rem;		
	}
	
	.logo {
		max-width: 150px;
        float: left;
        margin-right: 5%;
		a {
			border: none !important;
		}
	}

    .logo.ba{
      max-width:50%;
    }

	.right p {
		text-align: right;
	}

	.white {
		padding: 1.5rem 0 .5rem;
		background: $white;
	}
}

/*** Custom media queries ***/

@media #{$large-up} {
	h1.site-title,
	h2.site-title {
		font-size: 2.5rem !important;
		width: 80%;
	}
}

@media #{$medium-only} {
	h1.site-title,
	h2.site-title {
		font-size: 2rem;
	}
}

@media #{$small-only} {
	h1.site-title,
	h2.site-title {
		font-size: 1.75rem;
		padding-top: 1em;
	}
}

/* Printing search results */

@media print {

	@page {
		margin: 1.5cm 1.25cm;
	}

	.extra-margin {
		padding-top: 0;
	}

	.hide {
		display: table !important;
	}

	header,
	nav,
	footer,
	.enlarge,
	.expander,
	.do-not-print,
	.pagination-centred,
	.result-preview,
	.results-preview.fixed {
		display: none;
	}
}