@import 'settings';
@import 'font-awesome';
@import 'typography';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/*** Global ***/

hr {
	height: 1px;
	color: $primary-color;
	background-color: $primary-color;
	border: 0;
}

.info {
	font-size: .875rem;
	color: $primary-color !important;
	font-style: italic;
	margin-bottom: .5rem;
}

.less-padding {
	padding: .5rem !important;
}

.more-padding {
	padding: rem-calc(24);
}

.side-padding {
	padding-left: rem-calc(24);
	padding-right: rem-calc(24);
}

.panel.callout {
	button {
		margin-bottom: 0;
	}
}

.smaller-fontsize {
	font-size: .875em !important;
}

/* Highlight newly added filters in the preview box */

.free-filters li:last-child span.label {
	animation: highlight 3s ease;
}

@keyframes highlight {
	from { background: scale-color(yellow, $lightness: 50%); }
	to { background: $primary-color; }
}

/*** Header ***/
	
header.top-header {
	background: url('/static/images/top-banner.jpg') center no-repeat;
	background-size: cover;

	h1,
	a {
		color: $white;
		&:hover {
			color: $tertiary-color;
		}
	}

	h1 {
		text-shadow: 0 0 3px $black;
	}
}

/*** Headings ***/

h1, h2 {
	color: $primary-color;
	hyphens: auto;
	line-height: 1.25em;
	word-wrap: break-word;
}

h3, h4, h5, h6 {
	color: scale-color($secondary-color, $lightness: -20%);
}

h1, h2, h3 {
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
}

h4, h5, h6 {
	font-weight: normal;
}

input,
input[type=search] {
	height: 2.575rem;
}

.main h1,
.main h2,
.main h3 {
	font-weight: normal;
}

.main h1 .label,
.main h2 .label {
	font-size: .75em;
}

/*** Navigation ***/

nav {
	background-color: $primary-color;

	.menu li {
		a {
			color: $white;
			&:hover {
				background: $secondary-color;
			}
		}
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}

	.dropdown.menu > li.opens-right > .is-dropdown-submenu {
		background: $primary-color;
		border: 0;
	}

	.title-bar {
		background: $primary-color;
	}

	#top-menu {
		padding: 0;
	}
}

/*** Content ***/

.accordion-title {
	padding: .75rem 1rem .2rem;
}

#content {
	h1 {
		margin: rem-calc(24 0);
		border-bottom: 1px solid $primary-color;
	}

	color: $black;
}

#boulloterionContent,#personContent,#personContent .accordion-content dd{
  color: $black;
}

#personContent ul.nestedfactoidgroup{
	list-style-type: none;
}

#personContent ul.nestedfactoidgroup li{
}

#boulloterionContent .heading,#personContent .heading{
  color: $primary-color;
}

#permalink {
  width: 90%;
  font-size: 12px;
  height: 1.575rem;
}

#linkForm{
  width: 100%;
}

.clip_btn{
  max-width: 3%;
}

dt a{
  font-weight: lighter;
}

/*** Search / Facets / Filters ***/

#search form {
	display: block;
	height: 100%;
	overflow: hidden; /* Stops the page from overflowing due to long list of
						 filters */
}

.options {
	margin-bottom: 0 !important;
	span,
	a {
		margin-bottom: 0 !important;
	}
}

ul.inline-list {
  width: 100%;
}

ul.inline-list li{
  float:left;
}


.search-box {
	padding: 1rem;
	background: scale-color($secondary-color, $lightness: 90%);
	border: 1px solid scale-color($secondary-color, $lightness: 70%);

	.label.secondary,
	button.secondary,
	.button.secondary {
		background: scale-color($secondary-color, $lightness: -10%);
	}
}

.button-group {
	.label {
		cursor: pointer;
	}
}


.search-results {
	font-size: .8125rem;
	color: #444;

	li {	
		border-bottom: 1px solid $sand;
		margin-bottom: .5rem;

		// .row {
		// 	margin-bottom: .5rem;
		// }

		p {
			font-size: .8125rem;
			margin: .5rem 0;
		}

		// h4 {
		// 	font-size: 1.25rem;
		// }

		h3,
		h4 {
			margin-bottom: .25rem;
		}
	}
}

.fixed-height {
	background: scale-color($secondary-color, $lightness: 90%);
	height: 200px;
	margin-bottom: rem-calc(24);
	overflow: auto;
	padding: rem-calc(16);
}

.free-filters li {
	margin: .25rem .25rem 0 0;
	.label {
		font-size: .875rem;
		a {
			color: white;
		}
	}
}

.letters {
	&.button-group .button {
		font-weight: 700;
		padding: rem-calc(2 2 2 8);

		.label {
			background: scale-color($tertiary-color, $lightness: 50%);
			color: $primary-color;
			font-size: rem-calc(12);
			font-weight: 400;
			margin-left: rem-calc(5);
		}
	}
}

/*** Footer ***/

footer.main-footer {
	/*background: scale-color($secondary-color, $lightness: 80%);*/
	color: $primary-color;
	font-size: .75rem;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;

	a {
		color: scale-color($primary-color, $lightness: -30%);
		border-bottom: 1px dotted $primary-color;
	}

	p {
		font-size: .75rem;		
	}
	
	.logo {
		max-width: 100px;
        float: left;
        margin-right: 3%;
		a {
			border: none !important;
		}
	}

	.right p {
		text-align: right;
	}

	.white {
		padding: 1.5rem 0 .5rem;
		background: $white;
	}
}

/*** Custom media queries ***/

@media #{$large-up} {
	h1.site-title,
	h2.site-title {
		font-size: 2.5rem !important;
		width: 80%;
	}
}

@media #{$medium-only} {
	h1.site-title,
	h2.site-title {
		font-size: 2rem;
	}
}

@media #{$small-only} {
	h1.site-title,
	h2.site-title {
		font-size: 1.75rem;
		padding-top: 1em;
	}
}


/* Printing search results */

@media print {

	@page {
		margin: 1.5cm 1.25cm;
	}

	.extra-margin {
		padding-top: 0;
	}

	.hide {
		display: table !important;
	}

	header,
	nav,
	footer,
	.enlarge,
	.expander,
	.do-not-print,
	.pagination-centred,
	.result-preview,
	.results-preview.fixed {
		display: none;
	}
}