{% load staticfiles %}

<footer class="main-footer">
	<div class="row">
		<div class="large-4 medium-12 small-12 columns">
			<ul class="no-bullet">
				<li class="logo"><a href="http://www.kcl.ac.uk/artshums/" target="_blank" title="Link to King's DDH - Open new window"><img src="/static/images/KCL-KDL-logo-BW.svg" alt="King's College London"></a></li>
			</ul>
		</div>
		<div class="large-8 medium-12 small-12 columns right">
			<p><a href="/project/">About the project</a> | <a href="/contact/">Contact</a></p>
			<p>&copy; 2016 King's College London. All rights reserved.</p>
		</div>
	</div>
</footer>