{% extends "base.html" %}
{% load highlight staticfiles pbw_tags %} {% block meta_title %}Search Results{% if query %} for {{ query }}
{% endif %}{% endblock %}
{% block headercss %}

    <!-- EasyAutocomplete CSS file -->
    <link rel="stylesheet" href="{% static 'vendor/EasyAutocomplete/dist/easy-autocomplete.min.css' %}">
{% endblock %}
{% block main %}
    <div class="row">
    <div class="large-12 columns" id="search">
    <header>
        <h1 id="search-box">Search</h1>
        <button class="small button secondary options"><i class="fa fa-cog"></i> <span id="showhide">Hide</span>
            search settings
        </button>
        <a href="/browse/" class="right options"><span class="small button"><i class="fa fa-refresh"></i> Start new search</span></a>
    </header>
    <form method="get" action=".">
        <div class="search-box">
            <section data-section="non-expandable" data-expandable-group-member="facets" id="dprr-filter">
                <div class="row do-not-print">
                    <div class="large-12 columns">
                        <h4>Refine your search</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">

                    </div>
                </div>
                <div class="row do-not-print">
                    <div class="large-12 columns">
                        <div class="panel callout">
                            <div class="panel callout">
                                <h3 class="panel-heading">Letter</h3>
                                <ul class="button-group">
                                    {% for term in facets.fields|get_item:"letter" %}
                                        {% with value=term.0 count=term.1 %} {% if count > 0 %}
                                            <li>
                                                <a href="





                                                        {{ request.get_full_path }}{% if q %}&amp;{% else %}?{% endif %}selected_facets=letter:{{ value }}">{{ value }}</a>
                                                <span class="label radius">{{ count }}</span></li>
                                        {% endif %}{% endwith %}
                                    {% endfor %}
                                </ul>


                            </div>
                            <h3 class="panel-heading">Name</h3>

                            <p class="info"><i class="fa fa-info-circle"></i> Some info on this filter.</p>

                            <div class="panel radius fixed-height">
                                <ul class="no-bullet">
                                    {% for term in facets.fields|get_item:"name" %}
                                        {% with value=term.0 count=term.1 %} {% if count > 0 %}
                                            <li>
                                                <a href="





                                                        {{ request.get_full_path }}{% if q %}&amp;{% else %}?{% endif %}selected_facets=name:{{ value }}">{{ value }}</a>
                                                <span class="label radius">{{ count }}</span></li>
                                        {% endif %}{% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        {#Dignity/Office.#}
                        {#Ethnic label #}
                        {#Secondary names (= second names + alternative names)#}
                        {#Location#}
                        {#Occupation/Vocation#}
                        {#Language Skill #}

                    </div>
                </div>
                <div class="row do-not-print">
                    <div class="large-12 columns">
                        <div class="panel callout">
                            <h2 class="panel-heading">Factoids</h2>

                            <div class="row">
                                <div class="large-6 columns">
                                    <h4>Dignity / Office</h4>
                                    {{ form.dignityoffice }}

                                    <div class="panel radius fixed-height">
                                        <ul class="no-bullet">
                                            {% for term in facets.fields|get_item:"dignityoffice" %}
                                                {% with value=term.0 count=term.1 %} {% if count > 0 %}
                                                    <li>
                                                        <a href="




                                                                {{ request.get_full_path }}{% if q %}&amp;{% else %}?{% endif %}selected_facets=dignityoffice:{{ value }}">{{ value }}</a>
                                                        <span class="label radius">{{ count }}</span></li>
                                                {% endif %}{% endwith %}
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <h4>Location</h4>
                                    {{ form.location }}


                                    <div class="panel radius fixed-height">

                                        <ul class="no-bullet">
                                            {% for term in facets.fields|get_item:"location" %}
                                                {% with value=term.0 count=term.1 %} {% if count > 0 %}
                                                    <li>
                                                        <a href="




                                                                {{ request.get_full_path }}{% if q %}&amp;{% else %}?{% endif %}selected_facets=location:{{ value }}">{{ value }}</a>
                                                        <span class="label radius">{{ count }}</span></li>
                                                {% endif %}{% endwith %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-6 columns">
                                    <h4>Ethnicity</h4>

                                    <div class="panel radius fixed-height">

                                        <ul class="no-bullet">
                                            {% for term in facets.fields|get_item:"ethnicity" %}
                                                {% with value=term.0 count=term.1 %} {% if count > 0 %}
                                                    <li>
                                                        <a href="




                                                                {{ request.get_full_path }}{% if q %}&amp;{% else %}?{% endif %}selected_facets=ethnicity:{{ value }}">{{ value }}</a>
                                                        <span class="label radius">{{ count }}</span></li>
                                                {% endif %}{% endwith %}
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <div class="panel radius fixed-height">
                                        <h4>Secondary names</h4>
                                        <ul class="no-bullet">

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-6 columns">
                                    <div class="panel radius fixed-height">
                                        <h4>Occupation</h4>
                                        <ul class="no-bullet">


                                        </ul>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <div class="panel radius fixed-height">
                                        <h4>Province</h4>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row do-not-print">
                    <div class="large-6 columns">
                        <h4>Text search</h4>

                        <div class="row collapse">
                            <div class="small-9 columns">
                                {{ form.q }}
                            </div>
                            <div class="small-3 columns">
                                <button type="submit" class="postfix button"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 large-offset-3 columns">
                        <h4>&nbsp;</h4>
                        <a href="#search-results-box" class="less-padding expand button">Show
                            <strong>{{ paginator.count }}</strong> results</a>
                    </div>
                </div>
            </section>
        </div>
    </form>
    </div>
    </div>
    <div class="row extra-margin" id="search-results-box">
        <div class="large-12 columns">
            <hr>
            <h2>Search Results <span class="label radius">{{ paginator.count }}</span> <a href="#search"
                                                                                          class="less-padding button right edit-search do-not-print"><i
                    class="fa fa-edit"></i> Edit search</a></h2>
            {#            <ul class="inline-list left export do-not-print">#}
            {#                <li>#}
            {#                    <a class="right" aria-lablledby="#print" id="printme"><i class="fa fa-print"></i><label id="print">Print</label></a>#}
            {#                </li>#}
            {#                <li>#}
            {#                    <a class="right" aria-lablledby="#pdf"><i class="fa fa-file-pdf-o"></i><label#}
            {#                            id="pdf">PDF</label></a>#}
            {#                </li>#}
            {#                <li>#}
            {#                    <a class="right" aria-lablledby="#csv"><i class="fa fa-save"></i><label id="cvs">CSV</label></a>#}
            {#                </li>#}
            {#            </ul>#}
            {#            <ul class="inline-list right key">#}
            {#                <li>Dates can be:</li>#}
            {#                <li><span class="label radius green-bg">Certain <i class="fa fa-check-circle"></i></span></li>#}
            {#                <li><span class="label radius gray-bg">Uncertain <i class="fa fa-minus-circle"></i></span></li>#}
            {#            </ul>#}
            <hr>

            <ol start="{{ page_obj.start_index }}" class="search-results">
                {% for result in object_list %}
                    <li>
                        {% with doc=result.documents.0 %}
                            <h3>
                                <a href="{% url 'person-detail' doc.person_id %}">{{ doc.person }}</a>
                            </h3>
                            <p>{{ doc.description }}</p>
                            {% for dd in result.documents %}
                            <p>
                                {% highlight dd.text with query html_tag 'strong' max_length 120 %}
                            </p>
                        {% endfor %}



                        {% endwith %}
                    </li>
                {% empty %}
                    <li>No results found!</li>
                {% endfor %}
            </ol>

        </div>
    </div>

{% endblock main %}
{% block footer_scripts %}


{% endblock %}
