{% extends "base.html" %}
{% load highlight %}

{% block meta_title %}Search Results{% if query %} for {{ query }}{% endif %}{% endblock %}

{% block body_class %}body-search-results{% endblock %}

{% block content %}

<div class="row">
    <div class="large-3 columns facets">
        <section data-section="non-expandable"
        data-expandable-group-member="facets"
        class="expandable-list fixed-open" id="catalogue-filter">
        {% for facet in facets.fields %}
        <div class="list-item no">
            <div class="list-header no-link">
                <h4><span class="header">Filter by {{ facet }}</span></h4>
            </div>
            <div class="list-content">
                <ul>
                {% for term in facets.fields %}
                    <li>{{ term }}</li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        {% endfor %}
    </section>
</div>

<div class="large-9 columns">
    {% block overtitle %}
    <h1>Search Results <small>(in order of relevance)</small></h1>
    {% endblock %}

    {% block main %}
    {% include 'includes/search_box.html' %}

    {% if query %}
    <h3>Found {{ page.paginator.count }} results</h3>

    <ul class="impressions search-results">
        {% for result in page.object_list %}

        <li>
            <a title="Filter by {{ result.document }}"
            class="label secondary" href="{{ request.get_full_path }}&amp;selected_facets=document:{{ result.document|urlencode }}">
            {{ result.document  }}
        </a>
        <a href="{% if 'aco' not in result.resource %}/{% if BASE_URL in result.resource %}{{ BASE_URL}}{% else%}{{ result.resource.0 }}{% endif %}{% endif %}{{ result.url }}">{{ result.title|safe }}</a>

        <p>
            {% highlight result.text  with query html_tag 'strong' max_length 120 %}

        </p>

    </li>

    {% empty %}
    <li>No results found</li>
    {% endfor %}
</ul>

{% include 'includes/search_pagination.html' %}
{% endif %}

{% endblock %}
</div>
</div>
{% endblock %}
