

body {  font: 100% Tahoma, Verdana, Arial, Helvetica, sans-serif; margin: 0;padding: 0 }

#indexFrame,
#indexTabFrame { background: #807c73; }
#refineFrame,
#refineTabFrame { background: #f3efe7;}
#toolsFrame,
#toolsTabFrame { background: #ededed;}


html {  height: 100%; } 


a		{ outline: none;  } 
a span { cursor: pointer; } 


#bannerFrame #subNavStrap { background: #272442 url(../i/bannerFrameSubNavBg.png) left top repeat-x;  }


* html div.fxd {
  height: 1%;
  margin-left: 0;
  }
  
* html .pnv  { margin-right: -3px; }   

#bannerFrame .fxd { height: 6.4em; margin: 0 0 0 160px; } 

#bannerFrame .fxd .t01 { float: left;  } 
#bannerFrame .fxd .t01 ul.col { list-style: none; margin: 0; padding: 0; float: left; font-size: 70%; width: 11em; padding: 0px 0 0 0; margin: 3px 10px 0 3px; border-top: 1px dotted #34337d; display: inline; }
#bannerFrame .fxd .t01 ul.col li { margin: 0; padding: 0; display: inline; border-bottom: 1px dotted #34337d; float: left;}
#bannerFrame .fxd .t01 ul.col li a {  color: #ddd; width: 10.5em;  display: block; float: left; padding: 2px 0 3px 0.5em; text-decoration: none;}
#bannerFrame .fxd .t01 ul.col li h3 {  color: #fff; margin: 0;width: 10.5em;  display: block; float: left; padding: 2px 0 3px 0.5em; text-decoration: none; font-size: 100%;}
#bannerFrame .fxd .t01 ul.col li.s03 span {  color: #669; width: 10.5em;  display: block; float: left; padding: 2px 0 3px 0.5em; text-decoration: none; cursor: help; background:url(../i/bannerFrameFlxLiS03Span.png) right no-repeat; }
#bannerFrame .fxd .t01 ul.col li a.s01 {  color: #fff; background: url(../i/bannerFrameFlxAS01BgOff.png) right no-repeat; font-weight: normal; width: 10.5em;  display: block; float: left; padding: 2px 0 3px 0.5em; text-decoration: none;}
#bannerFrame .fxd .t01 ul.col li a.s01:hover { background: #1b1a6e url(../i/bannerFrameFlxAS01BgOn.png) right no-repeat; }
#bannerFrame .fxd .t01 ul.col li.s01 {}
#bannerFrame .fxd .t01 ul.col li.s02 a { background:url(../i/bannerFrameFlxLiS02BgOff.png) left top repeat; color: #eee;}
#bannerFrame .fxd .t01 ul.col li.s01 a span { display: none; } 
#bannerFrame .fxd .t01 ul.col li.s01 a { background:url(../i/bannerFrameFlxButtonAllPersonsOff.png) left no-repeat; display: block; height: 4.6em;}
#bannerFrame .fxd .t01 ul.col li.s01 a:hover { background: url(../i/bannerFrameFlxButtonAllPersonsOn.png) left no-repeat; } 
#bannerFrame .fxd .t01 ul.col li.s01 a.s01,
#bannerFrame .fxd .t01 ul.col li.s01 a.s01:hover { background:url(../i/bannerFrameFlxButtonAllPersonsCur.png) left no-repeat; display: block; height: 4.6em;}
#bannerFrame .fxd .t01 ul.col li a:hover { color: #fff; background: #1b1a6e; }
#bannerFrame .fxd .t01 ul.col li a var { font-style: normal; }


#bannerFrame .fxd .t01 .hld .t01 { background:url(../i/bannerFrameHldBg.gif) left top no-repeat; height: 22px; 
width: 20px; margin: 12px;}

/*
#bannerFrame #bannerStrap .pnv .t01 { width: 160px; height: 124px; background: url(../i/bannerFramePriNavBg.png) left top no-repeat; float: left; }
#bannerFrame #bannerStrap .pnv .t01 ul { margin: 0; padding: 2px 0 0 0; list-style: none; font-size: 70%; width: 160px}
#bannerFrame #bannerStrap .pnv .t01 ul li { margin: 0; padding: 0;}
#bannerFrame #bannerStrap .pnv .t01 ul li a { display: block; color: #bbb; text-decoration: none;  padding: 2px 24px 2px 0px; width: 136px; text-align:right }
#bannerFrame #bannerStrap .pnv .t01 ul.s01 {}
#bannerFrame #bannerStrap .pnv .t01 ul.s02 { padding: 10px 0 0 0;}
#bannerFrame #bannerStrap .pnv .t01 ul.s02 li a:hover { color: #fff; background: url(../i/bannerFramePriNavABgOn.png) left repeat-y; }
*/


#bannerFrame #bannerStrap { height: 6.4em; position: relative; background: #01005d url(../i/bannerFrameBg.jpg) right bottom no-repeat;  }
#bannerFrame #bannerStrap .pnv { width: 160px; height: 6.4em; background: url(../i/bannerFramePriNavBg.png) left top repeat-y; float:left;} 
#bannerFrame #bannerStrap .pnv .t01 { width: 160px; height: 6.4em; background:url(http://localhost/_a/i/bannerFramePriNavGfx01Bg.png) left bottom no-repeat; }
#bannerFrame #bannerStrap .pnv .t01 .w01 { height: 6.4em; width: 160px; background: url(../i/bannerFramePriNavGfx02Bg.png) left top no-repeat; } 
#bannerFrame #bannerStrap .pnv .t01 .w01 ul { margin: 0; padding: 0px 0 0 0; list-style: none; font-size: 70%; width: 160px}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul li { margin: 0; padding: 0; display: inline;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul li a { display: block; color: #bbb; text-decoration: none;   text-align:right }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul li a span { display: block; color: #bbb; padding: 2px 20px 2px 0px; width: 140px; } 
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 { padding: 2px 0 0 0; margin: 0;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s02 { margin: 8px 0 0 0; padding: 2px 0;  }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul li a:hover, 
#bannerFrame #bannerStrap .pnv .t01 .w01 ul li a:hover span { color: #fff; }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s01 span { background: url(../i/bannerFramePriNavIconHome.png) 145px 0.45em no-repeat; }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s02 span { background: url(../i/bannerFramePriNavIconChron.png) 145px 0.45em no-repeat;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s03 span { background: url(../i/bannerFramePriNavIconSeals.png) 145px 0.45em no-repeat;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s02 li a.s01 span { background: url(../i/bannerFramePriNavIconSearch.png) 145px 0.45em no-repeat;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s02 li a.s02 span { background: url(../i/bannerFramePriNavIconHelp.png) 147px 0.45em no-repeat;}
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s01:hover span { background-image: url(../i/bannerFramePriNavIconHomeOn.png); }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s02:hover span { background-image: url(../i/bannerFramePriNavIconChronOn.png); }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s01 li a.s03:hover span { background-image: url(../i/bannerFramePriNavIconSealsOn.png); }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s02 li a.s01:hover span { background-image: url(../i/bannerFramePriNavIconSearchOn.png); }
#bannerFrame #bannerStrap .pnv .t01 .w01 ul.s02 li a.s02:hover span { background-image: url(../i/bannerFramePriNavIconHelpOn.png); }

/*
#bannerFrame .flx { margin: 3px 0; padding: 3px 0; position: relative; border-bottom: 1px dotted #34337d; border-top: 1px dotted #34337d; float: left;}
#bannerFrame  .flx ul { margin: 0px 0 0 0; list-style: none; height: 7em; overflow: auto; width: 14em; font-size: 70%; background: #1b1a6e; }
#bannerFrame .flx ul,.flx ul li { margin: 0; padding: 0; }
#bannerFrame .flx ul label {  display: block; padding-left: 25px; text-indent: -25px; color: #ddd; }
#bannerFrame .flx ul label:hover { background: #1b1a6e; color: #fff; }
#bannerFrame .flx ul label { display: block; height: 1%; padding-left: 25px; text-indent: -25px; }
*/


#bannerFrame .flx .t01 { height: 100px; overflow: auto; position: relative; outline: none } 
#bannerFrame .flx .t01 ul.col { list-style: none; margin: 0; padding: 0; float: left; font-size: 70%; width: 13em; padding: 0px 0 0 0; margin: 3px 10px 0 3px; border-top: 1px dotted #34337d; display: inline; }
#bannerFrame .flx .t01 ul.col li { margin: 0; padding: 0; display: inline; border-bottom: 1px dotted #34337d; float: left; width: 12.5em;}
#bannerFrame .flx ul label { display: block;  color: #ddd; float: left; padding: 2px 0 0 0; }
#bannerFrame .flx ul input { float: left; padding: 0; margin: 0 3px 3px 2px; }



#bannerFrame .flx .scrollgeneric { line-height: 1px; font-size: 1px; position: absolute; }
#bannerFrame .flx .vscrollerbase, .vscrollerbar { width: 14px; top: 0px; }
#bannerFrame .flx .vscrollerbar { left: 0px; }
#bannerFrame .flx .vscrollerbar { padding: 13px; z-index: 2; }
#bannerFrame .flx .vscrollerbarbeg { background: url(../i/bannerFrameFlxScroller.png) 0px -8px; width: 14px; height: auto; top: 0px; }
#bannerFrame .flx .vscrollerbarend { background: url(../i/bannerFrameFlxScroller.png); width: 14px; height: 8px; }
#bannerFrame .flx .vscrollerbase { background-color: #D1DDCB; background-image: url(../i/bannerFrameFlxBg.png); }
#bannerFrame .flx .vscrollerbasebeg { top: 0px; width: 14px; background: url(../i/bannerFrameFlxButtons.png) 0px -13px no-repeat; }
#bannerFrame .flx .vscrollerbaseend { height: 13px; width: 14px; background: url(../i/bannerFrameFlxButtons.png) 0px -0px no-repeat; }
#bannerFrame .flx .scrollerjogbox { width: 14px; height: 13px; bottom: 0px; right: 0px; background: url(../i/bannerFrameFlxButtons.png) 0px -0px no-repeat;}


#bannerFrame .dcl .t01 { float: right; }
#bannerFrame .dcl .t01 h1 a span  { display: none; } 
#bannerFrame .dcl .t01 h1 { margin: 0; padding: 0; font-size: 70%; }
#bannerFrame .dcl .t01 h1 a { display: block; background:url(../i/bannerFrameH1Bg.png) 3px 6px no-repeat; width: 310px; height: 19px;  }
#bannerFrame .dcl .t01 h1 a:hover { background:  url(../i/bannerFrameH1BgOn.png) left 2px no-repeat; }
#bannerFrame .dcl .t01 {}


#bannerFrame .phd .t04 h1 { padding: 0px; margin: 5px 0px 0px 5px; background: url(../i/bannerFrameH1Browse.png) left top no-repeat; width: 195px; height: 17px; letter-spacing: -1000em; }
#bannerFrame .phd .t05 h1 { padding: 0px; margin: 5px 0px 0px 5px; background: url(../i/bannerFrameH1Chron.png) left top no-repeat; width: 147px; height: 17px; letter-spacing: -1000em; }
#bannerFrame .phd .t06 h1 { padding: 0px; margin: 5px 0px 0px 5px; background: url(../i/bannerFrameH1Seals.png) left top no-repeat; width: 144px; height: 17px; letter-spacing: -1000em; }

#bannerFrame .atz { color: #fff7e6; padding: 3px 0 0px 6px;  }
#bannerFrame .atz ul { padding: 0; list-style: none; margin: 0;}
#bannerFrame .atz ul li { display: inline; margin: 0; padding:0 ; }
#bannerFrame .atz ul li a,
#bannerFrame .atz ul li label { font-size: 60%; color: #bbb;  margin: 0 0 0 0px; padding: 2px 3px; text-transform: uppercase; font-weight: bold; float: left; text-decoration: none; }
#bannerFrame .atz ul li a { color: #b7a38a; background: #24236f; border: 1px solid #403f85; padding: 0px 2px; margin: 0 2px 0 0; } 
#bannerFrame .atz ul li label { text-transform: capitalize; font-size: 70%; padding: 1px 3px 2px 8px;font-weight: normal; background: url(../i/bannerFrameAroBeige.png) left 0.45em no-repeat; }
#bannerFrame .atz ul li a:hover { color: #fff; background: #403f85; padding: 1px 3px; border: 0px none;} 

#bannerFrame .shd { margin: 7px 160px 0px 6px; border-top: 1px solid #24236f;} 
#bannerFrame .shd h2 { font-size: 70%; padding: 6px 3px 0px 0px;font-weight: normal; margin: 0; color: #bbb;  }
#bannerFrame .shd h2 span { font-weight: bold; margin: 0 9px 0 3px; color: #b7a38a;  } 
#bannerFrame .shd h2 span var { font-weight: normal; font-style: normal; }
#bannerFrame .shd h2 label { background: url(../i/bannerFrameAroBeige.png) left 0.4em no-repeat; padding: 0 0 0 8px; }
#bannerFrame .shd h2 a.s01 { color: #747497; text-decoration: none; margin: 0 12px 0 3px; }
#bannerFrame .shd h2 a.s01:hover { color: #bbb; }
#bannerFrame .cnt .t01 p { font-size: 70%; margin: 0; padding: 0; color: #747497; line-height: 1.3em; margin: 0 160px 0 6px; }
#bannerFrame .cnt .t01 { height: 29px; } 

#bannerFrame #subNavStrap .fxm { float: left; padding: 0 0 0 160px; background: url(../i/bannerFrameSubNavFxmBg.png) left top no-repeat; }
#bannerFrame #subNavStrap .fxm .t01 { float: left; background: #1f1d48 url(../i/bannerFrameSubNavFxmT01Bg.png) }
#bannerFrame #subNavStrap .fxm ul { float: left; margin: 0; padding:0 1px 0 0px; list-style: none; background: url(../i/bannerFrameSubNavLiBg.png) right top no-repeat;}
#bannerFrame #subNavStrap .fxm ul li { float: left; margin: 0; padding: 0 0px 0 1px; background:url(../i/bannerFrameSubNavLiBg.png) left top no-repeat; }
#bannerFrame #subNavStrap .fxm ul li a { float: left; padding: 4px 8px 5px 8px; font-size: 70%; color: #8f8ea4; text-decoration: none; background:url(../i/bannerFrameSubNavLiAOff.png) left top repeat-x;  }
#bannerFrame #subNavStrap .fxm ul li a.s01 { background:url(../i/bannerFrameSubNavLiAS01On.png) left top repeat-x;  color: #fff;}
#bannerFrame #subNavStrap .fxm ul li a:hover { background: #01005d url(../i/bannerFrameSubNavLiAOn.png) left bottom repeat-x; color: #fff;  }
#bannerFrame #subNavStrap .fxm ul li a.s01:hover { background:url(../i/bannerFrameSubNavLiAS01On.png) left top repeat-x;  color: #fff;}




body#indexFrame { color: #fff7e6; padding: 10px 10px 0 10px; background: #807c73;} 
#indexFrame .xlt .t01 ul { margin: 0; padding: 0; list-style: none; position:relative; background: url(../i/indexFrameLiBg.png) left top repeat-x;  }
#indexFrame .xlt .t01 ul li { font-size: 70%; padding: 1px 0px 3px 5px; background: url(../i/indexFrameLiBg.png) left bottom repeat-x; }
#indexFrame .xlt .t01 ul li:hover { /*background-color: #66637a; */ }
#indexFrame .xlt .t01 ul li a { }
#indexFrame .xlt .t01 ul li a.s01 { background: url(../i/indexFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#indexFrame .xlt .t01 ul li a.s01:hover { background-image: url(../i/indexFrameIconExpandOn.png) }
#indexFrame .xlt .t01 ul li a.s02 { color: #fff7e6; text-decoration: none; }
#indexFrame .xlt .t01 ul li a.s02:hover { text-decoration: underline; }
#indexFrame .xlt .t01 ul li a.s03 { background: url(../i/indexFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#indexFrame .xlt .t01 ul li a.s03:hover { background-image: url(../i/indexFrameIconAddSearchOn.png);  }
#indexFrame .xlt .t01 ul li a.s01 span,
#indexFrame .xlt .t01 ul li a.s03 span { display: none; }
#indexFrame .xlt .t01 ul li var { font-style: normal; padding: 0 0 0 5px; color: #b3afa7; }
#indexFrame .xlt .t01 ul li.s01 { background-color: #85635c; }

#indexFrame .cnt .t01 p{ font-size: 70%; margin: 0 0 5px 0; padding: 0; }
#indexFrame .xlt .t01 ul li.s01 a.s02 ,
#indexFrame .cnt .t01 .s01 { color: #e0cdc9;  background-color: #85635c; font-weight: normal; }

#indexFrame .xlt .t02 ul { margin: 0; padding: 0; list-style: none; position:relative; }
#indexFrame .xlt .t02 ul li { font-size: 70%;  font-weight: bold; margin: 0 0 9px 0; padding: 2px 0 2px 0px; }
#indexFrame .xlt .t02 ul li ul {margin: 1px 0 0 0; background: url(../i/indexFrameLiBg.png) left top repeat-x;  }
#indexFrame .xlt .t02 ul li ul li { padding: 1px 0 2px 0px; margin: 0; background: url(../i/indexFrameLiBg.png) left bottom repeat-x;font-size: 100%; font-weight: normal; }
#indexFrame .xlt .t02 ul li ul li ul { padding: 0 0 0 2px; background: none; }
#indexFrame .xlt .t02 ul li ul li ul li { padding: 2px 0 1px 13px; background: none;  }


#indexFrame .xlt .t02 ul li a { color: #fff7e6; text-decoration: none; }
#indexFrame .xlt .t02 ul li a:hover { color: #fff7e6; text-decoration: underline; }
#indexFrame .xlt .t02 ul li a.s01 { background: url(../i/indexFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 0px 0 3px; text-decoration: none; }
#indexFrame .xlt .t02 ul li a.s01:hover { background-image: url(../i/indexFrameIconExpandOn.png) }
#indexFrame .xlt .t02 ul li a.s02 { color: #fff7e6; text-decoration: none; }
#indexFrame .xlt .t02 ul li a.s02:hover { text-decoration: underline; }
#indexFrame .xlt .t02 ul li a.s03 { background: url(../i/indexFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#indexFrame .xlt .t02 ul li a.s03:hover { background-image: url(../i/indexFrameIconAddSearchOn.png);  }
#indexFrame .xlt .t02 ul li a.s01 span,
#indexFrame .xlt .t02 ul li a.s03 span { display: none; }
#indexFrame .xlt .t02 ul li var { font-style: normal; padding: 0 0 0 5px; color: #b3afa7; }


#indexFrame .xlt .t02  ul li a.z02 { background-image: url(../i/indexFrameIconExpandOff.png) }
#indexFrame .xlt .t02  ul li a.z02:hover{ background-image: url(../i/indexFrameIconExpandOn.png) }
#indexFrame .xlt .t02  ul li a.z01{ background-image: url(../i/indexFrameIconContractOff.png) }
#indexFrame .xlt .t02  ul li a.z01:hover{ background-image: url(../i/indexFrameIconContractOn.png) }

body#refineFrame { background: url(../i/refineFrameBg.png) top left; background-attachment:fixed; color: #737272; padding: 10px 10px 0 10px; } 
#refineFrame .xlt dl { margin: 0; padding: 0; list-style: none; position:relative; background: url(../i/mainFrameDotsBeige.png) left bottom repeat-x;  }
#refineFrame .xlt dl dt { font-size: 70%; padding: 2px 0px 0px 5px; background: url(../i/mainFrameDotsBeige.png) left top repeat-x; }
#refineFrame .xlt dl dd { margin: 0; padding: 0; font-size: 70%; padding: 1px 0px 3px 5px; }
#refineFrame .xlt dl a { }
#refineFrame .xlt dl dt a.s01 { background: url(../i/indexFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#refineFrame .xlt dl dt a.s01:hover { background-image: url(../i/indexFrameIconExpandOn.png) }
#refineFrame .xlt dl dt a.s02 { color: #737272; text-decoration: none; font-weight: bold; }
#refineFrame .xlt dl dt a.s02:hover { color: #6a68a7; text-decoration: underline; }
#refineFrame .xlt dl dt a.s03 { background: url(../i/refineFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#refineFrame .xlt dl dt a.s03:hover { background-image: url(../i/refineFrameIconAddSearchOn.png);  }
#refineFrame .xlt dl dt a.s01 span,
#refineFrame .xlt dl dt a.s03 span { display: none; }

#refineFrame .xlt .t02 dl dt {font-weight: bold; }
#refineFrame .xlt .t02 dl dd { /*margin: 0 0 0 9px;*/ }
#refineFrame .xlt .t02 dl dd a { color: #737272; text-decoration: none;  }
#refineFrame .xlt .t02 dl dd a:hover { color: #6a68a7; text-decoration: underline; }


#refineFrame .xlt .t03 ul { margin: 0; padding: 0; list-style: none; position:relative; background: url(../i/mainFrameDotsBeige.png) left top repeat-x;  }
#refineFrame .xlt .t03  ul li { font-size: 70%; padding: 1px 0px 3px 5px; background: url(../i/mainFrameDotsBeige.png) left bottom repeat-x; }
#refineFrame .xlt .t03  ul li label { font-weight: bold; }
#refineFrame .xlt .t03  ul li a.s02 { color: #737272; text-decoration: none; font-weight: normal; }
#refineFrame .xlt .t03  ul li a.s02:hover { color: #6a68a7; text-decoration: underline; }

/* div intro box */
.dib .t01	   {  }
.dib .t01 h3  {   font-size: 70%;  margin: 0 0 0px 0; padding: 0 0 2px 0;}
.dib .t01 p   {  font-size: 70%; margin: 0; padding: 0 0px 6px 0px; }


#indexFrame  .dib .t01 h3 {  background: url(../i/indexFrameLiBg.png) left bottom repeat-x; }
#indexFrame  .dib .t01  {  background: url(../i/indexFrameLiBg.png) left bottom repeat-x; }

#refineFrame  .dib .t01 h3 {  background: url(../i/mainFrameDotsBeige.png) left bottom repeat-x; }
#refineFrame  .dib .t01  {  background: url(../i/mainFrameDotsBeige.png) left bottom repeat-x; }
 
#mainFrame  .dib .t01 h3 {  color: #669; }
#mainFrame  .dib .t01  {  color: #333; padding: 10px 0; background: url(../i/mainFrameDotsBeige.png) left top repeat-x; }
 
.phd .t01 h1 { font-size: 70%; padding: 0; margin: 0 0 2px 0;  }
.phd .t02 h1 { font-size: 130%; padding: 0; margin: 0 0 0px 0; }
.phd .t03 h1 { font-size: 190%; padding: 0; margin: 0 0 0px 0; }
.phd .t04 h1 { font-size: 130%; padding: 0; margin: 0 0 0px 0; }
.phd .t02 h1 span {  }

body#indexTabFrame { background: #807c73 url(../i/indexTabFrameBg.png) right top repeat-y; } 
body#chronTabFrame { background: #fff url(../i/chronTabFrameBg.png) right top repeat-y; } 
body#refineTabFrame { background: #f3efe7 url(../i/refineTabFrameBg.png) right top repeat-y; background-attachment:fixed;} 
body#toolsTabFrame { background: #f6f6f6 url(../i/toolsTabFrameBg.png) left top repeat-y;  }
body#mainFrame { padding: 5px  10px 10px 10px; /*background: url(../i/mainFrameBg.png) top left no-repeat;  */}



#indexTabFrame .ftb a span { display: none; }
#indexTabFrame .ftb a { display: block; width: 22px; height: 114px; position: absolute; top: 20px;  }

#chronTabFrame .ftb  a span { display: none; }
#chronTabFrame .ftb  a { display: block; width: 22px; height: 114px; position: absolute; top: 20px;  }

#refineTabFrame .ftb a span { display: none; }
#refineTabFrame .ftb a { display: block; width: 28px; height: 114px; position: absolute; top: 120px;   }

#toolsTabFrame .ftb a span { display: none; }
#toolsTabFrame .ftb a { display: block; width: 28px; height: 114px; position: absolute; top: 220px;   }

#indexTabFrame .ftb .t01 a.open:link,
#indexTabFrame .ftb .t01 a.open:visited,
#indexTabFrame .ftb .t01 a.open:active { background: url(../i/indexTabFrameOpenOff.png);  }
#indexTabFrame .ftb .t01 a.open:hover { background: url(../i/indexTabFrameOpenOn.png); }

#indexTabFrame .ftb .t01 a.closed:link,
#indexTabFrame .ftb .t01 a.closed:visited,
#indexTabFrame .ftb .t01 a.closed:active { background: url(../i/indexTabFrameClosedOff.png); }
#indexTabFrame .ftb .t01 a.closed:hover { background: url(../i/indexTabFrameClosedOn.png); }


#indexTabFrame .ftb .t02 a,
#indexTabFrame .ftb .t03 a { background-image:url(../i/sealsTabFrameAllStates.png); background-repeat:no-repeat; height: 138px;}

#indexTabFrame .ftb .t02 a.open:link,
#indexTabFrame .ftb .t02 a.open:visited,
#indexTabFrame .ftb .t02 a.open:active { background-position: -22px 0px; }
#indexTabFrame .ftb .t02 a.open:hover { background-position: -66px 0px; }

#indexTabFrame .ftb .t02 a.closed:link,
#indexTabFrame .ftb .t02 a.closed:visited,
#indexTabFrame .ftb .t02 a.closed:active { background-position: -0px 0px; }
#indexTabFrame .ftb .t02 a.closed:hover { background-position: -44px 0px; }


#indexTabFrame .ftb .t03 a.open:link,
#indexTabFrame .ftb .t03 a.open:visited,
#indexTabFrame .ftb .t03 a.open:active { background-position: -110px 0px; }
#indexTabFrame .ftb .t03 a.open:hover { background-position: -154px 0px; }

#indexTabFrame .ftb .t03 a.closed:link,
#indexTabFrame .ftb .t03 a.closed:visited,
#indexTabFrame .ftb .t03 a.closed:active { background-position: -88px 0px; }
#indexTabFrame .ftb .t03 a.closed:hover { background-position: -132px 0px; }



#chronTabFrame .ftb a { background-image:url(../i/chronTabFrameAllStates.png); background-repeat:no-repeat; }
#chronTabFrame .ftb .t01 a.open:link,
#chronTabFrame .ftb .t01 a.open:visited,
#chronTabFrame .ftb .t01 a.open:active { background-position: -22px 0px; }
#chronTabFrame .ftb .t01 a.open:hover { background-position: -66px 0px; }

#chronTabFrame .ftb .t01 a.closed:link,
#chronTabFrame .ftb .t01 a.closed:visited,
#chronTabFrame .ftb .t01 a.closed:active { background-position: -0px 0px; }
#chronTabFrame .ftb .t01 a.closed:hover { background-position: -44px 0px; }

#chronTabFrame .ftb .t02 a.open:link,
#chronTabFrame .ftb .t02 a.open:visited,
#chronTabFrame .ftb .t02 a.open:active { background-position: -110px 0px; }
#chronTabFrame .ftb .t02 a.open:hover { background-position: -154px 0px; }

#chronTabFrame .ftb .t02 a.closed:link,
#chronTabFrame .ftb .t02 a.closed:visited,
#chronTabFrame .ftb .t02 a.closed:active { background-position: -88px 0px; }
#chronTabFrame .ftb .t02 a.closed:hover { background-position: -132px 0px; }

#chronTabFrame .ftb .t03 a.open:link,
#chronTabFrame .ftb .t03 a.open:visited,
#chronTabFrame .ftb .t03 a.open:active { background-position: -198px 0px; }
#chronTabFrame .ftb .t03 a.open:hover { background-position: -246px 0px; }

#chronTabFrame .ftb .t03 a.closed:link,
#chronTabFrame .ftb .t03 a.closed:visited,
#chronTabFrame .ftb .t03 a.closed:active { background-position: -176px 0px; }
#chronTabFrame .ftb .t03 a.closed:hover { background-position: -220px 0px; }

#chronTabFrame .ftb .t04 a.open:link,
#chronTabFrame .ftb .t04 a.open:visited,
#chronTabFrame .ftb .t04 a.open:active { background-position: -286px 0px; }
#chronTabFrame .ftb .t04 a.open:hover { background-position: -330px 0px; }

#chronTabFrame .ftb .t04 a.closed:link,
#chronTabFrame .ftb .t04 a.closed:visited,
#chronTabFrame .ftb .t04 a.closed:active { background-position: -264px 0px; }
#chronTabFrame .ftb .t04 a.closed:hover { background-position: -308px 0px; }

#refineTabFrame .ftb .t01 a.open:link,
#refineTabFrame .ftb .t01 a.open:visited,
#refineTabFrame .ftb .t01 a.open:active { background: url(../i/refineTabFrameOpenOff.png);  }
#refineTabFrame .ftb .t01 a.open:hover { background: url(../i/refineTabFrameOpenOn.png); }

#refineTabFrame .ftb .t01 a.closed:link,
#refineTabFrame .ftb .t01 a.closed:visited,
#refineTabFrame .ftb .t01 a.closed:active { background: url(../i/refineTabFrameClosedOff.png); }
#refineTabFrame .ftb .t01 a.closed:hover { background: url(../i/refineTabFrameClosedOn.png); }


#refineTabFrame .ftb .t02 a { background-image:url(../i/sealsTabFrameAllStates.png); background-repeat:no-repeat; height: 138px;}

#refineTabFrame .ftb .t02 a.open:link,
#refineTabFrame .ftb .t02 a.open:visited,
#refineTabFrame .ftb .t02 a.open:active { background-position: -204px 0px; }
#refineTabFrame .ftb .t02 a.open:hover { background-position: -260px 0px; }

#refineTabFrame .ftb .t02 a.closed:link,
#refineTabFrame .ftb .t02 a.closed:visited,
#refineTabFrame .ftb .t02 a.closed:active { background-position: -176px 0px; }
#refineTabFrame .ftb .t02 a.closed:hover { background-position: -232px 0px; }


#toolsTabFrame .ftb .t01 a.open:link,
#toolsTabFrame .ftb .t01 a.open:visited,
#toolsTabFrame .ftb .t01 a.open:active { background: url(../i/toolsTabFrameOpenOff.png); }
#toolsTabFrame .ftb .t01 a.open:hover { background: url(../i/toolsTabFrameOpenOn.png); }

#toolsTabFrame .ftb .t01 a.closed:link,
#toolsTabFrame .ftb .t01 a.closed:visited,
#toolsTabFrame .ftb .t01 a.closed:active { background: url(../i/toolsTabFrameClosedOff.png); }
#toolsTabFrame .ftb .t01 a.closed:hover { background: url(../i/toolsTabFrameClosedOn.png); }


body#mainFrame h2 { font-size: 70%; color: #6a68a7; font-weight: normal; padding: 2px 0 0 0; margin: 0 0 10px 0; background: url(../i/mainFrameDotsBeige.png) left top repeat-x;}
body#mainFrame h2 label { font-weight: bold; padding: 0 5px 0 0; }
body#mainFrame h2 span.s01 { padding: 0 5px 0 0; }
body#mainFrame h2 span.s02 {  }

body#mainFrame h2 var span { display: none; }
body#mainFrame h2 var { padding: 0px 14px 0px 0; }
body#mainFrame h2 var.z03 { background: url(../i/mainFrameIconCertainty0.png) left 0.5em no-repeat; margin: 0 0 0 5px; }
body#mainFrame h2 var.z04 { background: url(../i/mainFrameIconCertainty1.png) left 0.5em no-repeat; }
body#mainFrame h2 var.z05 { background: url(../i/mainFrameIconCertainty2.png) left 0.5em no-repeat; }
body#mainFrame h2 var.z06 { background: url(../i/mainFrameIconCertainty3.png) left 0.5em no-repeat; margin: 0 5px 0 0; }

#mainFrame .xlt .t02 ul { margin: 0; padding: 0; list-style: none; border-top: 1px solid #eee;}
#mainFrame .xlt .t02 ul li { font-size: 70%; color: #333; padding: 0 0 0px 3px; border-bottom: 1px solid #eee; }
#mainFrame .xlt .t02 ul li label { color: #6a68a7; font-weight: bold; display: block; padding: 3px 0;}
#mainFrame .xlt .t02 ul li label var { font-style: normal; }
#mainFrame .xlt .t02 ul li dl { font-size: 100%; margin: 0 0 5px 0; padding: 0; }
#mainFrame .xlt .t02 ul li dt { font-weight: bold; color: #666; padding: 3px 0 3px 0; margin: 0 0 0 15px; }
#mainFrame .xlt .t02 ul li dd { margin: 0;  padding: 0 0 3px 0px; margin: 0 0 0 30px; list-style: disc   }
#mainFrame .xlt .t02 ul li dd a { color: #6a68a7; text-decoration: none; border-bottom: 1px dotted #6a68a7;}
#mainFrame .xlt .t02 ul li dd a:hover { border-bottom-style: solid;}

#mainFrame .xlt .t02 ul li a.s01 { border: 0px none; background: url(../i/mainFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#mainFrame .xlt .t02 ul li a.s01:hover { border: 0px none; background-image: url(../i/mainFrameIconExpandOn.png) }

#mainFrame .xlt .t02  ul li a.z02 { background-image: url(../i/mainFrameIconExpandOff.png) }
#mainFrame .xlt .t02  ul li a.z02:hover{ background-image: url(../i/mainFrameIconExpandOn.png) }
#mainFrame .xlt .t02  ul li a.z01{ background-image: url(../i/mainFrameIconContractOff.png) }
#mainFrame .xlt .t02  ul li a.z01:hover{ background-image: url(../i/mainFrameIconContractOn.png) }

#mainFrame .xlt .t02 ul li dt a.s02,
#mainFrame .xlt .t02 ul li dd a.s02  {  color: #01005d; text-decoration: none; border-bottom: 1px dotted #6a68a7; cursor:help }
#mainFrame .xlt .t02 ul li dt a.s02:hover,
#mainFrame .xlt .t02 ul li dd a.s02:hover { border-bottom-style: solid;  }
#mainFrame .xlt .t02 ul li dt a.s03 { border: 0px none; background: url(../i/mainFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#mainFrame .xlt .t02 ul li dt a.s03:hover { background-image: url(../i/mainFrameIconAddSearchOn.png);  }
#mainFrame .xlt .t02 ul li dd a.s04,
#mainFrame .xlt .t02 ul li dt a.s04 { border: 0px none; background: url(../i/mainFrameIconViewUnitOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 13px 0 0; text-decoration: none; }
#mainFrame .xlt .t02 ul li dd a.s04:hover,
#mainFrame .xlt .t02 ul li dt a.s04:hover { background-image: url(../i/mainFrameIconViewUnitOn.png);  }

#mainFrame .xlt .t02 ul li.s08 { background: #f9f9f9; }
#mainFrame .xlt .t02 ul li.s08 label { color: #c2c0bc /*d3d1ce c2c0bc*/; padding: 3px 0 3px 14px;  cursor: help; }


#mainFrame .xlt .t03 { background: #f1f1f6; margin: 0 0 10px 0; }
#mainFrame .xlt .t03 ul { margin: 0; padding: 0; list-style: none; border-top: 1px solid #e5e5f1;}
#mainFrame .xlt .t03 ul li { font-size: 70%; color: #333; padding: 0 0 0px 3px; border-bottom: 1px solid #e5e5f1; }
#mainFrame .xlt .t03 ul li label { color: #6a68a7; font-weight: bold; display: block; padding: 3px 0;}
#mainFrame .xlt .t03 ul li label var { font-style: normal; }
#mainFrame .xlt .t03 ul li dl { font-size: 100%; margin: 0 0 5px 0; padding: 0; }
#mainFrame .xlt .t03 ul li dt { font-weight: bold; color: #666; padding: 3px 0 3px 0; margin: 0 0 0 15px; }
#mainFrame .xlt .t03 ul li dd { margin: 0;  padding: 0 0 3px 0px; margin: 0 0 0 30px; list-style: disc   }
#mainFrame .xlt .t03 ul li dd a { color: #6a68a7; text-decoration: none; border-bottom: 1px dotted #6a68a7;}
#mainFrame .xlt .t03 ul li dd a:hover { border-bottom-style: solid;}

#mainFrame .xlt .t03 ul li a.s01 { border: 0px none; background: url(../i/mainFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#mainFrame .xlt .t03 ul li a.s01:hover { border: 0px none; background-image: url(../i/mainFrameIconExpandOn.png) }

#mainFrame .xlt .t03  ul li a.z02 { background-image: url(../i/mainFrameIconExpandOff.png) }
#mainFrame .xlt .t03  ul li a.z02:hover{ background-image: url(../i/mainFrameIconExpandOn.png) }
#mainFrame .xlt .t03  ul li a.z01{ background-image: url(../i/mainFrameIconContractOff.png) }
#mainFrame .xlt .t03  ul li a.z01:hover{ background-image: url(../i/mainFrameIconContractOn.png) }

#mainFrame .xlt .t03 ul li dt a.s02 {  color: #01005d; text-decoration: none; border-bottom: 1px dotted #6a68a7; cursor:help }
#mainFrame .xlt .t03 ul li dt a.s02:hover { border-bottom-style: solid;  }
#mainFrame .xlt .t03 ul li dt a.s03 { border: 0px none; background: url(../i/mainFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#mainFrame .xlt .t03 ul li dt a.s03:hover { background-image: url(../i/mainFrameIconAddSearchOn.png);  }
#mainFrame .xlt .t03 ul li dd a.s04,
#mainFrame .xlt .t03 ul li dt a.s04 { border: 0px none; background: url(../i/mainFrameIconViewUnitOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 13px 0 0; text-decoration: none; }
#mainFrame .xlt .t03 ul li dd a.s04:hover,
#mainFrame .xlt .t03 ul li dt a.s04:hover { background-image: url(../i/mainFrameIconViewUnitOn.png);  }


#mainFrame .xlt .t04 { border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin: 0 0 10px 0;}
#mainFrame .xlt .t07 { border-bottom: 1px solid #eee; margin: 0 0 10px 0;}
#mainFrame .xlt .t04 dl,
#mainFrame .xlt .t07 dl { font-size: 70%; color: #333; margin: 0; padding: 5px 0; line-height: 1.4em; }
#mainFrame .xlt .t04 dt,
#mainFrame .xlt .t07 dt	{ float: left; width: 6em; font-weight: bold; color: #669; padding: 0px 0 0px 0; position:relative;}
#mainFrame .xlt .t04 dd { margin: 0 0 0 7em; padding: 0 0 0px 0px; }
#mainFrame .xlt .t07 dd	{ margin: 0 0 0 12.5em; padding: 0 0 0px 0px; }
#mainFrame .xlt .t07 dt { width: 11em; text-align: right; }






#mainFrame .xlt .t05 { font-size: 70%; color: #333;  border-bottom: 1px solid #eee; }
#mainFrame .xlt .t05 label { color: #6a68a7; font-weight: bold; display: block; padding: 3px 0;}
#mainFrame .xlt .t05 label var { font-style: normal; }
#mainFrame .xlt .t05 dl { font-size: 100%; margin: 0 0 5px 0; padding: 0; }
#mainFrame .xlt .t05 dt { font-weight: bold; color: #666; padding: 3px 0 3px 0; margin: 0 0 0 0px; }
#mainFrame .xlt .t05 dd { margin: 0;  padding: 0 0 3px 0px; margin: 0 0 0 0px; }
#mainFrame .xlt .t05 dd ul { margin: 0; padding: 0; list-style: none; }
#mainFrame .xlt .t05 dd li { margin: 0; padding: 1px 0 1px 15px; line-height: 1.3em; background: url(../i/mainFrameAroBeige.png) 4px 0.5em no-repeat;  }
#mainFrame .xlt .t05 dd a,
#mainFrame .xlt .t05 dt a { color: #6a68a7; text-decoration: none; border-bottom: 1px dotted #6a68a7;}
#mainFrame .xlt .t05 dd a:hover,
#mainFrame .xlt .t05 dt a:hover { border-bottom-style: solid;}

#mainFrame .xlt .t05 a.s01 { border: 0px none; background: url(../i/mainFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#mainFrame .xlt .t05 a.s01:hover { border: 0px none; background-image: url(../i/mainFrameIconExpandOn.png) }

#mainFrame .xlt .t05 a.z02 { background-image: url(../i/mainFrameIconExpandOff.png) }
#mainFrame .xlt .t05 a.z02:hover{ background-image: url(../i/mainFrameIconExpandOn.png) }
#mainFrame .xlt .t05 a.z01{ background-image: url(../i/mainFrameIconContractOff.png) }
#mainFrame .xlt .t05 a.z01:hover{ background-image: url(../i/mainFrameIconContractOn.png) }

#mainFrame .xlt .t05 a.s02 {  color: #01005d; text-decoration: none; border-bottom: 1px dotted #6a68a7; cursor:help }
#mainFrame .xlt .t05 a.s02:hover { border-bottom-style: solid;  }
#mainFrame .xlt .t05 a.s03 { border: 0px none; background: url(../i/mainFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#mainFrame .xlt .t05 a.s03:hover { background-image: url(../i/mainFrameIconAddSearchOn.png);  }
#mainFrame .xlt .t05 a.s04,
#mainFrame .xlt .t05 a.s04 { border: 0px none; background: url(../i/mainFrameIconViewUnitOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 13px 0 0; text-decoration: none; }
#mainFrame .xlt .t05 a.s04:hover,
#mainFrame .xlt .t05 a.s04:hover { background-image: url(../i/mainFrameIconViewUnitOn.png);  }









#mainFrame .xlt .t06 { background: #fff; margin: 0 0 10px 0; }
#mainFrame .xlt .t06 ul { margin: 0; padding: 0; list-style: none; font-size: 70%; }
#mainFrame .xlt .t06 ul li { margin: 0; padding: 1px 0 1px 15px; line-height: 1.3em; background: url(../i/mainFrameAroBeige.png) 4px 0.5em no-repeat; }
#mainFrame .xlt .t06 ul li label { color: #6a68a7; font-weight: bold; display: block; padding: 3px 0;}
#mainFrame .xlt .t06 ul li label var { font-style: normal; }
#mainFrame .xlt .t06 ul li a { color: #6a68a7; text-decoration: none; border-bottom: 1px dotted #6a68a7;}
#mainFrame .xlt .t06 ul li a:hover { border-bottom-style: solid;}

#mainFrame .xlt .t06 ul li a.s01 { border: 0px none; background: url(../i/mainFrameIconExpandOff.png) left 2px no-repeat; padding: 0 9px 0 0; margin: 0 2px 0 0; text-decoration: none; }
#mainFrame .xlt .t06 ul li a.s01:hover { border: 0px none; background-image: url(../i/mainFrameIconExpandOn.png) }

#mainFrame .xlt .t06 ul li a.s02 {  color: #01005d; text-decoration: none; border-bottom: 1px dotted #6a68a7; cursor:help }
#mainFrame .xlt .t06 ul li a.s02:hover { border-bottom-style: solid;  }
#mainFrame .xlt .t06 ul li a.s03 { border: 0px none; background: url(../i/mainFrameIconAddSearchOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 11px 0 0; text-decoration: none; }
#mainFrame .xlt .t06 ul li a.s03:hover { background-image: url(../i/mainFrameIconAddSearchOn.png);  }
#mainFrame .xlt .t06 ul li a.s04,
#mainFrame .xlt .t06 ul li a.s04 { border: 0px none; background: url(../i/mainFrameIconViewUnitOff.png) left 2px no-repeat; margin: 0 0 0 5px; padding: 0 13px 0 0; text-decoration: none; }
#mainFrame .xlt .t06 ul li a.s04:hover,
#mainFrame .xlt .t06 ul li a.s04:hover { background-image: url(../i/mainFrameIconViewUnitOn.png);  }
#mainFrame .xlt .t06 ul li var span { display: none; }
#mainFrame .xlt .t06 ul li var { padding: 0px 14px 0px 0; }
#mainFrame .xlt .t06 ul li var.z03 { background: url(../i/mainFrameIconCertainty0.png) left 0.5em no-repeat; }
#mainFrame .xlt .t06 ul li var.z04 { background: url(../i/mainFrameIconCertainty1.png) left 0.5em no-repeat; }
#mainFrame .xlt .t06 ul li var.z05 { background: url(../i/mainFrameIconCertainty2.png) left 0.5em no-repeat; }
#mainFrame .xlt .t06 ul li var.z06 { background: url(../i/mainFrameIconCertainty3.png) left 0.5em no-repeat; }

#mainFrame .xlt .t02 ul li dl dd var span { display: none; }
#mainFrame .xlt .t02 ul li dl dd var { padding: 0px 14px 0px 0; }
#mainFrame .xlt .t02 ul li dl dd var.z03 { background: url(../i/mainFrameIconCertainty0.png) left 0.5em no-repeat; }
#mainFrame .xlt .t02 ul li dl dd var.z04 { background: url(../i/mainFrameIconCertainty1.png) left 0.5em no-repeat; }
#mainFrame .xlt .t02 ul li dl dd var.z05 { background: url(../i/mainFrameIconCertainty2.png) left 0.5em no-repeat; }
#mainFrame .xlt .t02 ul li dl dd var.z06 { background: url(../i/mainFrameIconCertainty3.png) left 0.5em no-repeat; }



#mainFrame .xlt .t08 { font-size: 70%; color: #333;   }
#mainFrame .xlt .t08 dl { font-size: 100%; margin: 0 3px 5px 0; padding: 3px; width: 15em; float: left; border: 1px solid #eee; border-collapse: collapse;}
#mainFrame .xlt .t08 dt { font-weight: bold; color: #666; padding: 0px 0 3px 0; margin: 0 0 0 0px; }
#mainFrame .xlt .t08 dd { margin: 0; padding: 0; }






#mainFrame .lst .t01 {}
#mainFrame .lst .t01 ul { margin: 0; padding: 0; margin: 10px 0; list-style: none; } 
#mainFrame .lst .t01 ul li { font-size: 70%; margin: 0; line-height: 1.3em; padding: 1px 0 1px 15px; background:url(../i/mainFrameAroBlue.png) 4px 0.5em no-repeat; } 
#mainFrame .lst .t01 ul li a { color: #669; text-decoration: none; border-bottom: 1px dotted #6a68a7; }
#mainFrame .lst .t01 ul li a:hover { color: #009; border-bottom-style: solid; }


#mainFrame .htb .t01 { background: url(../i/mainFrameHtbBg.png) left top repeat-x; }
#mainFrame .htb .t01 ul { margin: 0; padding: 0 0 0 30px; list-style: none; }
#mainFrame .htb .t01 ul li { margin: 0; padding: 0; list-style: none; display: inline;  }
#mainFrame .htb .t01 ul li a { float: left; padding: 0px 0 0px 26px; text-decoration: none; font-size: 70%; color: #999; background: #fff url(../i/mainFrameHtbLiABgOff.png) left top repeat-x;  }
#mainFrame .htb .t01 ul li a span { float: left;  padding: 4px 26px 15px 0px; background:  url(../i/mainFrameHtbLiASpanBgOff.png) right top no-repeat; }
#mainFrame .htb .t01 ul li a:hover { background-image: url(../i/mainFrameHtbLiABgOn.png); cursor: pointer;}
#mainFrame .htb .t01 ul li a:hover span { color: #669; background-image: url(../i/mainFrameHtbLiASpanBgOn.png) }



#mainFrame .sct,
#mainFrame .scm,
#mainFrame .scs {  background: url(../i/mainFrameSctBgBottom.png) left bottom no-repeat;  width: 500px; margin: 0 0 12px; } 
#mainFrame .sct .t01,
#mainFrame .scm .t01,
#mainFrame .scs .t01 { background: url(../i/mainFrameSctT01BgTop.png) left top no-repeat;  padding: 4px 4px 4px 4px;   }
#mainFrame .sct .t02 { background: url(../i/mainFrameSctT02BgTop.png) left top no-repeat;  padding: 4px 4px 4px 4px;   }
#mainFrame .sct h3,
#mainFrame .scm h3 { background: url(../i/mainFrameSctH3Bg.png) left top no-repeat; font-size: 70%; color: #efeff5; padding: 3px 0 0px 6px; margin: 0; }
#mainFrame .scm h3 { padding: 3px 0 4px 6px; }

#mainFrame .scm .mfx { width: 180px;   padding: 0px 0px; margin: 2px 0 6px 6px; }
#mainFrame .scm .mfx .d01 { padding: 0; border: 1px solid #ddd; background: #efeff5; position: relative; }

#mainFrame .scs h3 { background:url(../i/mainFrameScsH3Bg.png) left top no-repeat; font-size: 70%; color: #efeff5; padding: 3px 0 4px 6px; margin: 0;  }
#mainFrame .scs button { background: url(../i/mainFrameScsButtonBgOn.png) left top no-repeat; border: 0px none; margin: 2px 2px 0 0; padding: 0; float: left;  height: 56px; width: 122px; letter-spacing: -1000em}  
#mainFrame .scs button.s02 { background-image: url(../i/mainFrameScsButtonS02BgOff.png); }  


#mainFrame .scm ul { list-style: none; margin: 0 0 0 6px; padding: 0; font-size: 70%;  }
#mainFrame .scm ul li { list-style: none; margin: 0; padding: 0; display: inline; }
#mainFrame .scm ul li a { float: left;  color: #669; text-decoration: none; margin: 2px 3px 0 0; background: #efeff5 url(../i/mainFrameScmLiABgLeftOff.png) left no-repeat;  }
#mainFrame .scm ul li a span{  display: block; padding: 3px 8px 3px 8px; color: #669; text-decoration: none; background: url(../i/mainFrameScmLiABgRightOff.png) right no-repeat;  }

#mainFrame .scm ul li a:hover { color: #fff; background: #669 url(../i/mainFrameScmLiABgLeftOn.png) left no-repeat; }

#mainFrame .scm ul li a:hover span { color: #fff; background: url(../i/mainFrameScmLiABgRightOn.png) right no-repeat; } 

#mainFrame .sct h3 label { float: left; }
#mainFrame .sct h3 a { float: right; padding: 0 4px 3px 0; letter-spacing: -1000em; background: url(../i/mainFrameSctH3AOff.png) left 1px no-repeat; height: 14px; width: 13px; }
#mainFrame .sct h3 a:hover { background: url(../i/mainFrameSctH3AOn.png) left 1px no-repeat;}
#mainFrame .sct .w01 { padding: 9px 6px 6px 6px; }
#mainFrame .sct input { width: 360px;  border: 1px solid #ddd; background:url(../i/mainFrameSctInputBg.png) left top no-repeat; padding: 3px 0 3px 6px; font-size: 11px; color: #333;  }
#mainFrame .sct .mfx { width: 368px;   padding: 0px 0px; margin: 0px 0 0 0; }
#mainFrame .sct .mfx .d01 { padding: 0; border: 1px solid #ddd; border-top: 0px none; border-bottom: 0px none; background: #efeff5; position: relative; }
#mainFrame .sct .mfx ul,
#mainFrame .scm .mfx ul { margin: 0; padding: 0; list-style: none; font-size: 70%; }
#mainFrame .sct .mfx ul li,
#mainFrame .scm .mfx ul li { margin: 0; padding: 0; display: inline; }
#mainFrame .sct .mfx ul li a,
#mainFrame .scm .mfx ul li a  { padding: 1px 6px 2px 6px; float: left;width: 354px; color: #669; text-decoration: none; }
#mainFrame .scm .mfx ul li a { width: 166px; margin: 0; background-image: none; } 
#mainFrame .sct .mfx ul li a:hover,
#mainFrame .scm .mfx ul li a:hover {  color: #01005d; background: #e0e0eb; }
#mainFrame .sct .mfx .d02{ font-size: 60%;   margin: 0px 0 0 0;  background: #efeff5 url(../i/mainFrameSctD02Bg.png) left top repeat-x; }
#mainFrame .sct .mfx .d02 .w02 {background: url(../i/mainFrameSctD02W02Bg.png) left bottom no-repeat; padding: 4px 3px 3px 3px;} 
#mainFrame .sct .mfx .d02 a { color: #efeff5; text-decoration: none; font-weight: bold; background: url(../i/mainFrameSctD02ABgLeftOff.png) left no-repeat; padding: 0px 0 0px 5px}
#mainFrame .sct .mfx .d01 a.s01 {  position: absolute; top: 3px; right: 3px; background:url(../i/mainFrameSctD01ABgOff.png); width: 15px; height: 15px; letter-spacing: -1000em; }
#mainFrame .sct .mfx .d01 a.s01:hover {  background-image:url(../i/mainFrameSctD01ABgOn.png); }
#mainFrame .sct .mfx .d02 a.s01 {  float: left; }
#mainFrame .sct .mfx .d02 a span { display: block; background:#a2a2c1 url(../i/mainFrameSctD02ABgRightOff.png) right no-repeat; padding: 1px 5px 1px 0; }
#mainFrame .sct .mfx .d02 a:hover { background-image: url(../i/mainFrameSctD02ABgLeftOn.png); }
#mainFrame .sct .mfx .d02 a:hover span { color: #fff; background: #669 url(../i/mainFrameSctD02ABgRightOn.png) right no-repeat; }
#mainFrame .sct .mfx .d02 a.s02 { float: right; }

#mainFrame .sct  .w01 ul { font-size: 70%; list-style: none; margin: 0; padding: 0; }
#mainFrame .sct  .w01 ul li { margin: 0 0 2px 0; padding: 0;  float: left; width: 500px;}
#mainFrame .sct  .w01 ul li label { color: #01005d;   }
#mainFrame .sct  .w01 ul li input { width: 15px; margin: 0 5px 0 0; padding: 0; height: 13px;  }

#mainFrame .scb .w01 { background: url(../i/mainFrameScbT01Bg.png) left top no-repeat; padding: 6px 30px 2px 10px;}
#mainFrame .scb .t01 { background: #efefef url(../i/mainFrameScbT01W01Bg.png) right top no-repeat;  float: left;}
#mainFrame .scb .t01 .w01 a { font-size: 60%; font-weight: bold; color: #555; text-decoration: none; border: 1px solid #ccc; padding: 0 2px; margin: 0 3px 0 0; }

#mainFrame .scb .t01 .w01 a:hover,
#mainFrame .scb .t01 .w01 a.s01 { border: 1px solid #669; background: #669; color: #fff; }

#mainFrame .sct button { cursor: pointer; width: 79px; color: #555; margin: 0 10px;font-weight: normal; background:url(../i/mainFrameSctButtonBgOff.png) left top no-repeat; font-size: 11px; border: 0px none; padding: 2px 0 3px 0;}

#refineFrame .TEMP { font-size: 70%; font-weight: bold;  }
#refineFrame .TEMP a{ color: #669; text-decoration: none;  }




#toolsFrame .box .t01 {width: 236px; margin: 2px 8px 6px 8px;  position: relative; }
#toolsFrame .box .t01 h4 { font-size: 70%; font-weight: normal; color: #fff; margin: 0; padding: 0; position: relative;}


#toolsFrame .box .z01 .t01 h4 a { color: #fff; text-decoration: none;	background: url(../i/boxHeaderClosedBgOff.png) left top no-repeat; display: block; width: 230px; padding: 3px 0 4px 6px; }
#toolsFrame .box .z01 .t01 h4 a:hover { background: url(../i/boxHeaderClosedBgOn.png) left top no-repeat;  }
#toolsFrame .box .z01 .t01 h4 a span { }

#toolsFrame .box .z02 .t01 h4 a { color: #fff; text-decoration: none;	background: url(../i/boxHeaderOpenBgOff.png) left top no-repeat; display: block; width: 230px; padding: 3px 0 4px 6px;}
#toolsFrame .box .z02 .t01 h4 a:hover { background: url(../i/boxHeaderOpenBgOn.png) left top no-repeat;  }
#toolsFrame .box .z02 .t01 h4 a span { }

#toolsFrame .box .t01  h4 var { font-style: normal; color: #ccc; font-size: 8px; font-weight: bold; border: 1px solid #ccc; padding: 0 2px;  position: absolute; right: 28px; margin: 1px 0 0 0; cursor: help;}

#toolsFrame .box .z01 .t01  { background: url(../i/boxBgBottomClosed.png) bottom no-repeat; padding: 0px 0px 2px 0px; }
#toolsFrame .box .z01 .t01 .s01 { background: url(../i/boxBgMidClosed.png) top repeat-y; padding: 0 0 0px 0; font-size: 70%;}
#toolsFrame .box .z02 .t01  { background: url(../i/boxBgBottomOpen.png) bottom no-repeat; padding: 0px 0px 2px 0px; }
#toolsFrame .box .z02 .t01 .s01 { background: url(../i/boxBgMidOpen.png) top repeat-y; padding: 0 0 0px 0; font-size: 70%;}

#toolsFrame .box .t01 .s02 { background: url(../i/boxToolbarBg.png) bottom repeat-x; margin: 0px 3px; height: 24px;}
#toolsFrame .box .t01 .s02  span { color: #666; background: url(../i/boxToolbarButtonOff.png) bottom repeat-x; text-decoration: none; font-size: 10px; display: block; float: left; height: 18px; padding: 3px 5px; cursor: pointer;} 
#toolsFrame .box .t01 .s02  a:hover { color: #333; background: url(../i/boxToolbarButtonOn.png) bottom repeat-x; } 
#toolsFrame .box .t01 .s03   { margin: 2px 8px 0px 8px; } 
#toolsFrame .box .t01 .s03 p  { margin: 0 0 4px 0; padding: 0; } 
#toolsFrame .box .t01 .s01 .s02 ul { display: inline;  float: left; list-style: none; padding: 0; margin: 0 0px; background: url(../i/boxToolbarDiv.png) right bottom no-repeat; padding: 0px 1px 0 0;height: 24px;margin: 0px 0px 0px 4px;}
#toolsFrame .box .t01 .s01 .s02 li { float: left;  background: url(../i/boxToolbarDiv.png) left bottom no-repeat; padding: 0px 0px 0px 1px; height: 24px;}

#toolsFrame .box .t01 .s01 .s03 td label { color: #807c73; font-weight: bold; } 
#toolsFrame .box .t01 .s01 .s03 td label a { color: #807c73;  border-bottom: 1px dotted #cdbfb3; text-decoration:none; } 
#toolsFrame .box .t01 .s01 .s03 td label a:hover { color: #669;  border-bottom: 1px solid #669; } 
#toolsFrame .box .t01 .s01 .s03 td{  text-align: center; padding: 3px 0; }
#toolsFrame .box .t01 .s01 .s03 table { border-top: 1px dotted #cdbfb3; border-bottom: 1px dotted #cdbfb3; padding: 7px 0; margin: 5px 0; }


#toolsFrame .box .t01 .s01 .s03  { /*background: url(../i/boxCommentBgTop.png) bottom left repeat-x;*/ padding: 0 0 1px 0;}
#toolsFrame .box .t01 .s01 .s03  dl { margin: 0; padding: 0 0 0px 0; background: url(../i/boxCommentBgBottom.png) bottom left no-repeat;  }
#toolsFrame .box .t01 .s01 .s03  dl dt  { background: url(../i/boxCommentBgTop.png) top left repeat-x; padding: 0px 0px 0 0px; }
#toolsFrame .box .t01 .s01 .s03  dl dt ul { margin: 0; padding: 4px 4px 0 4px; list-style: none; font-size: 100%;  }
#toolsFrame .box .t01 .s01 .s03  dl dt ul li { margin: 0; padding: 0; display: inline; font-size: 90%; }
#toolsFrame .box .t01 .s01 .s03  dl dt ul li span { padding: 0 8px 0 0;}
#toolsFrame .box .t01 .s01 .s03  dl dt ul li span.id { color: #669; font-weight: bold; }
#toolsFrame .box .t01 .s01 .s03  dl dt ul li span.date { color: #bbb; }
#toolsFrame .box .t01 .s01 .s03  dl dd { margin: 0; padding: 4px 4px 0px 4px; color: #666; }
#toolsFrame .box .t01 .s01 .s03  dl dd p { color: #666; margin: 0; padding: 0 0 4px 0;}
#toolsFrame .box .t01 .s01 .s03  dl dd a { color: #669; text-decoration: none; border-bottom: 1px dotted #999; }
#toolsFrame .box .t01 .s01 .s03  dl dd a:hover { color: #669; border-bottom: 1px solid #669;}
#toolsFrame .box .t01 .s01 .s03  dl dd ul { padding: 0 0 4px 15px; margin: 0; color: #666; }


#toolsFrame .box .formDiv { margin: 2px 7px;  }

#toolsFrame .box .t02 h3 span{ padding: 1px 0px 2px 8px; border-bottom: 1px solid #898989; display: block; color: #efefef; text-decoration: none;}
#toolsFrame .box .t02 h3 a:hover span { color: #fff; text-decoration: underline; }
#toolsFrame .box .t02 h3 {  font-size: 70%; background:  #a5a5a5 url(../i/toolsFrameH3Bg.png) top repeat-x;color: #fff; border-top: 1px solid #b8b8b8; border-bottom: 1px solid #fff; margin: 0; padding: 0;}

#toolsFrame .box .t02 { position: fixed; bottom: 0px; width: 100%; }
#toolsFrame .box .t02 h3 a {
	 border: 0px none;
}
#toolsFrame .box .t02 .s02 { padding: 3px 8px 6px 8px; background:url(../i/toolsFrameBoxShadow.png) top left no-repeat;  height: 100px; }
#toolsFrame .box .t02 p { font-size: 70%; color: #333; margin: 0; padding: 0 0 5px 0; }
#toolsFrame .box .t02 a { color: #666; border-bottom: 1px dotted #666; text-decoration: none;} 
#toolsFrame .box .t02 a:hover { color: #960021; border-bottom: 1px solid #666; } 


#toolsFrame h1 span { padding: 8px 0 10px 8px;   display: block;/* background:url(../i/toolsFrameH1BgLeft.png) left bottom no-repeat; */}
#toolsFrame h1	  { font-size: 70%; text-transform: uppercase; color: #fff; background:url(../i/toolsFrameH1Bg.png) left bottom repeat-x; margin: 0 0 7px 0;  }

#toolsFrame .box .t01 .s03 ul { list-style: none; margin: 0; padding: 0; }
#toolsFrame .box .t01 .s03 ul li { list-style: none; padding: 0 0 0 15px; line-height: 1.5em; background: url(http://localhost/_a/i/boxListBullet.png) 6px 0.5em no-repeat; position: relative; color: #68655e;}
#toolsFrame .box .t01 .s03 ul li a { color: #77756c; border-bottom: 1px dotted #cdbfb3; text-decoration: none;}
#toolsFrame .box .t01 .s03 ul li a:hover { color: #669; border-bottom: 1px solid #669; }
#toolsFrame .box .t01 .s03 h3 { color: #807c73; font-size: 100%; margin: 10px 0 4px 0;}
#toolsFrame .box .t01 .s03 form { margin: 0; padding: 0;}
#toolsFrame .box .t01 .s03 form select { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }

#toolsFrame .box .t01 .s03 p { line-height: 1.5em; color: #68655e; }



.clfx-b:after 									{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clfx-l:after 									{ content: "."; display: block; height: 0; clear: left; visibility: hidden; }
.clfx-r:after 									{ content: "."; display: block; height: 0; clear: right; visibility: hidden; }
.clfx-r,.clfx-l,.clfx-b 						{ display: inline-block; } /* \*/
* html .clfx-r,* html .clfx-l,* html .clfx-b 	{ height: 1%; }
.clfx-r,.clfx-l,.clfx-b 						{ display: block; } /* */


/* Fading Tooltips By Dustin Diaz*/
body div#toolTip { position:absolute;z-index:1000;width:220px;background:#000;border:2px double #ccc;text-align:left;padding:5px;min-height:1em;}
body div#toolTip p { margin:0;padding:0;color:#fff;font-size:70%}
body div#toolTip p em { display:block;margin-top:3px;color:#f60;font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:#fff; }



/* ALTERNATE COLOUR SCHEME *//*
body#indexFrame { background: #272440 url(../i/indexFrameBg.png) left top repeat-y; } 

*//* END */