{% extends "base.html" %}


{% block meta_title %}Person Details{% endblock %}

{% block main %}

<div class="row">
    <div class="large-12 columns">

        <h1>{{ person.descname }}</h1>
        <h2>{{ person.nameol }}</h2>
        <p>ID: {{ person.name }} {{ person.mdbcode }} </p>


        {%  for factoidtype,factoids in factoidGroups.iteritems %}
        <h2>{{ factoidtype }}</h2>
        <ul>
            {% for f in factoids %}
                <li>{{ f.engdesc }}
                {{ f.origldesc }} {{ f.source.sourceid }} {{ f.sourceref }}
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>

<!-- Temp link to d3js.org min and d3 stuff - TO BE REMOVED -->


{% endblock %}