{% load static compress require %}
<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | PBW</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  {# SCSS compilation relies on django compressor #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}
  {% block headercss %}
  {% endblock %}
</head>
<body>
  <header class="top-header more-padding">
    {% include 'includes/header.html' %}
  </header>

  <nav class="side-padding">
    {% include 'includes/navigation.html' %}
  </nav>

  <section class="main more-padding">
    {% block title %}{% endblock %}
    {% block main %}
    {% endblock %}
  </section>

  <footer class="main-footer more-padding">
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  <!-- define requirejs config settings. -->

  <script type="text/javascript">
    {% include 'includes/config.js' %}
  </script>

  {% require_module 'config' %}

  {% block footer_scripts %}
  {% endblock %}
</body>
</html>