{% extends "base.html" %}
{% load highlight pbw_tags staticfiles wagtailcore_tags %}

{% block meta_title %}
    Seals
{% endblock %}

{% block headercss %}

{% endblock %}

{% block main %}
    <div class="row">
        <div class="medium-3 columns">
            <div class="row">
                <div class="medium-6 columns">
                    <a class="button" href="{% url 'seals-list' %}?list=collection">Collections</a>
                </div>
                <div class="medium-6 columns">
                    <a class="button" href="{% url 'seals-list' %}?list=bibliography">Bibliographies</a>
                </div>
            </div>
            <div id="seal_sidebar_list" class="row">
                <div class="medium-12 columns fixed-height">
                    {% if collections %}
                        <ul class="collection_list">
                            {% for collection in collections %}
                                <li>
                                    <a href="{% url 'seals-list' %}?list=collection&collection_id={{ collection.id }}">{{ collection.collectionname }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if bibliographies %}
                        <ul class="collection_list">
                            {% for bibliography in bibliographies %}
                                <li>
                                    <a href="{% url 'seals-list' %}?list=bibliography&bibliography_id={{ bibliography.pk }}">{{ bibliography.shortname }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="medium-9 columns">
        {% if collection or bibliography %}
        <h1>Seals in {% if collection %}{{ collection }}{% endif %}{% if bibliography %}{{ bibliography }}{% endif %}</h1>
            <br/>
        {% endif %}
            <ul class="search-results seal_list">

                {% for seal in object_list %}
                    <li>
                        {% with boulloterion=seal.boulloterion %}
                            <h2>
                                <a href="{% url 'boulloterion-detail' boulloterion.pk %}?list={{ list }}{% if collection %}&collection_id={{ collection.id }}{% endif %}{% if bibliography_id %}&bibliography_id={{ bibliography_id }}{% endif %}">{{ boulloterion.title }}</a>
                            </h2>
                            <p>{{ boulloterion.origltext }}</p>
                            <p>{{ boulloterion.text }} </p>
                            <p>{{ seal.collection }} {% if seal.collectionref > 0 %} {{ seal.collectionref }} {% endif %}</p>
                        {% endwith %}
                    </li>
                {% endfor %}
                </ul>

                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.number > 1 %}
                            <li class="arrow {% if not page_obj.has_previous %}unavailable{% endif %}">
                                <a href="{% url 'seals-list' %}?list={{ list }}{% if collection %}&collection_id={{ collection.id }}{% endif %}&bibliography_id={{ bibliography_id }}&page=1">&laquo;</a>
                            </li>
                        {% endif %}
                        <li class="arrow {% if not page_obj.has_previous %}unavailable{% endif %}">
                            <a href="




                            {% url 'seals-list' %}?list={{ list }}{% if collection %}&collection_id={{ collection.id }}{% endif %}&bibliography_id={{ bibliography_id }}{% if page_obj.has_previous %}&page={{ page_obj.previous_page_number }}{% endif %}">&laquo;</a>
                        </li>
                        <li>
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}
                        </li>
                        <li class="arrow {% if not page_obj.has_next %}unavailable{% endif %}">
                            <a href="




                            {% url 'seals-list' %}?list={{ list }}{% if collection %}&collection_id={{ collection.id }}{% endif %}&bibliography_id={{ bibliography_id }}{% if page_obj.has_next %}&page={{ page_obj.next_page_number }}{% endif %}">&raquo;</a>
                        </li>
                        {% if page_obj.number < paginator.num_pages %}
                            <li class="arrow {% if not page_obj.has_next %}unavailable{% endif %}">
                                <a href="




                                {% url 'seals-list' %}?list={{ list }}{% if collection %}&collection_id={{ collection.id }}{% endif %}{% if bibliography_id %}&bibliography_id={{ bibliography_id }}{% endif %}&page={{ paginator.num_pages }}">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}
